<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title>Blog</title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="container mt-3">
      <form action="/blog" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="coverImage" class="form-label">Cover Image</label>
          <input
            name="coverImage"
            type="file"
            class="form-control"
            id="title"
            aria-describedby="coverImage"
          />
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            name="title"
            type="text"
            class="form-control"
            id="title"
            aria-describedby="titleHelp"
            placeholder="Enter title"
          />
        </div>
        <div class="mb-3">
          <label for="floatingTextarea2">Body</label>
          <div class="form-floating">
            <div class="form-floating">
              <textarea
                name="body"
                class="form-control"
                placeholder="Leave a comment here"
                id="floatingTextarea2"
                style="height: 100px"
              ></textarea>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <%- include('partials/script') %>
  </body>
</html>
